/* DESCRIPTION SECTION */

#description-wrapper {
    height: auto;
    padding-bottom: 3%;
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: height .2s;
    box-shadow: 0 0.0521vw 0.3646vw rgba(0, 0, 0, .4);
}

/* DESCRIPTION IMAGE SECTION */

#description-section-wrapper {
    display: flex;
    justify-content: center;
    gap: 2.5%;
    height: auto;
}

.description-section {
    margin-top: 2%;
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-green);
    box-shadow: 0 0.1042vw 0.3646vw rgba(0, 0, 0, .5);
    height: fit-content;
}

.description-section-wrapper {
    width: 90%;
    height: 22vw;
}

.description-image-link {
    position: relative;
    margin-top: 4.9%;
    display:inline-block;
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    width: 100%;
    height: 63.3%;
}

.description-image-link > img {
    max-width:100%;
    max-height:100%;
}

.description-section-text {
    background-color: var(--light-white);
    padding: 5px;
    box-shadow: 0 0 0.3646vw rgba(0, 0, 0, .4);
    color: black;
    font-size: 0.8vw;
    text-align: center;
    width: auto;
    height: 18.9%;
    margin-top: 2%;
}

.description-section-text > p {
    height: 99%;
    width: 100%;
}

.centered-text {
    margin-top: 15px;
}

/* DESCRIPTION TEXT SECTION */

#description-info {
    margin-left:2.5%;
    margin-top: 1%;
    width: 94.8%;
    height: auto;
    font-size: 0.8vw;
}

#info-text {
    line-height: 1.45vw;
}

/* VIDEO PLAYER SECTION */

#video-player-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-player-container {
    width: 41.7vw;
}

#video-player {
    min-width: 41.7vw;
    min-height: 23.44vw;
}

#video-player-section {
    height: 41.7vw;
    background-image: url(../../imgs/terastassu-banner2.jpg);
    background-size: cover;
    background-attachment: fixed;
}