/* SHOP SECTION */

#vk-shop-container {
    margin-top: 30px;
    height: 93vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#vk-shop-wrapper {
    width: 90%;
    position: relative;
}

#vk-shop-title-wrapper {
    position: relative;
}


#vk-shop-title {
    background-color: var(--dark-green);
    color: var(--light-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 10px;
}


#vk-shop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#vk-product-list {
    height: 755px;
    width: 64%;
    overflow: auto;
    position: absolute;
    left:0;
}

/* FILTER SECTION */

#vk-product-filter-wrapper {
    height: 240px;
    width: 42.5%;
    margin-top: 10px;
    position: absolute;
    right:0;
    display: flex;
    justify-content: center;
}

#vk-product-filter-container {
    width: 60%;
    height: 240px;
    background-color: var(--dark-green);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#vk-filter-title-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: var(--light-white)
}

#vk-filter-body-wrapper {
    display: flex;
    justify-content: center;
}

#vk-filter-filters {
    width:70%;
    color: var(--dark-green);
}

#react-select-3-placeholder {
    color: var(--dark-green);
}
#react-select-5-placeholder {
    color: var(--dark-green);
}

#vk-filter-footer {
    display: flex;
    justify-content: center;
}

#vk-filter-footer > button {
    width: 70%;
    height: 30px;
    border: none;
    background-color: var(--light-white);
    color: var(--dark-green);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

#vk-filter-footer > button:hover {
    background-color: #dfdfdf;
}

#vk-filter-footer > button:active {
    background-color: #cfcfcf;
}


/* PRODUCT */
.vk-product-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-green);
    height: 253px;
    width: 1035px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.vk-product-wrapper > img {
    height: 224px;
    width: 90px;
    padding: 5px;
    margin-top: 7px;
    background-color: var(--light-white);
}

.vk-product-info-wrapper {
    position: absolute;
    width: 85.5%;
    height: 35.48%;
    left: 120px;
}

.vk-product-info-section {
    width: 922px;
    height: 100%;
    position: relative;
}

.vk-productName {
    padding-right: 50px;
    margin-top: 6px;
    color:var(--light-white)
}


.vk-price {
    color: var(--light-white);
    margin-top: 2px;
    display: inline-block;
}

.vk-productIncludes {
    color: var(--light-white);
    display: inline-block;
    margin-left: 10px;
}

.vk-product-description {
    width: 98.8%;
    height: 50%;
    margin-top: 6px;;
    padding: 5px;
    background-color: var(--light-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.vk-product-delivery-time {
    color: var(--light-white);
    margin-top: 12px;
}

.vk-add-to-cart-wrapper {
    position: absolute;
    bottom:25px;
    right:0;
    display: flex;
}

.vk-add-to-cart-wrapper > button {
    background-color: var(--light-white);
    color: var(--dark-green);
    padding: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
