/* SHOP SECTION */

#vk-shop-container {
    margin-top: 30px;
    height: 59vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

#vk-shop-wrapper {
    width: 90%;
    position: relative;
}

#vk-shop-title-wrapper {
    position: relative;
}


#vk-shop-title {
    background-color: var(--dark-green);
    color: var(--light-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 10px;
}

#vk-shop-title > h1 {
    font-size: 1.7vw;
}


#vk-shop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#vk-product-list {
    height: 49.4vw; 
    width: 57.5vw;
    min-width:auto;
    overflow: auto;
    position: absolute;
    left:0;
}

/* FILTER SECTION */

#vk-product-filter-wrapper {
    height: 12.5vw;
    width: 27.2vw; /* 522 */
    margin-top: 10px;
    position: absolute;
    right:0;
    display: flex;
    justify-content: center;
}

#vk-product-filter-container {
    width: 80%;
    height: 12.5vw;
    background-color: var(--dark-green);
    box-shadow: 0 0 0.2604vw rgba(0, 0, 0, .5);
}

#vk-filter-title-wrapper {
    margin-top: 5px;
    display: flex;
    height: 2vw;
    justify-content: center;
    color: var(--light-white)
}

#vk-filter-title > h1 {
    font-size: 1.65vw;
}

#vk-filter-body-wrapper {
    display: flex;
    justify-content: center;
}

#vk-filter-filters {
    width:70%;
    height: 6vw;
    color: var(--dark-green);
}


#react-select-3-placeholder {
    color: var(--dark-green);
}
#react-select-5-placeholder {
    color: var(--dark-green);
}

#vk-filter-footer {
    display: flex;
    justify-content: center;
    height: 1.6vw;
}

#vk-filter-footer > button {
    width: 15.2vw;
    height: 1.6vw;
    border: none;
    background-color: var(--light-white);
    color: var(--dark-green);
    border-radius: 4px;
    font-size: .9vw;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

#vk-filter-footer > button:hover {
    background-color: #dfdfdf;
}

#vk-filter-footer > button:active {
    background-color: #cfcfcf;
}


/* PRODUCT */
.vk-product-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-green);
    height: 12.5vw;
    width: 96.3%;
    padding: .521vw;
    margin-bottom: .521vw;
    box-shadow: 0 0 0.2604vw rgba(0, 0, 0, .5);
}

.vk-product-wrapper > img {
    height: 11.67vw;
    width: 4.7vw;
    padding: 0.157vw;
    margin-top: 0.365vw;
    background-color: var(--light-white);
}

.vk-product-info-wrapper {
    width: 100%;
    height: 14vw;
    margin-left: .6vw;
}

.vk-product-info-section {
    width: 100%;
    height: 13vw;
    position: relative;
    font-size: .83vw;
}

.vk-productName {
    padding-right: 50px;
    margin-top: 6px;
    color:var(--light-white)
}

.vk-productName > h3 {
    font-size: 1vw;
}

.vk-price {
    color: var(--light-white);
    margin-top: 2px;
    display: inline-block;
}

.vk-productIncludes {
    color: var(--light-white);
    display: inline-block;
    margin-left: 10px;
}

.vk-product-description {
    width: 98.8%;
    height: 5.5vw;
    margin-top: .32vw;
    padding: .261vw;
    background-color: var(--light-white);
    box-shadow: 0 0 0.2604vw rgba(0, 0, 0, .3);
}

.vk-product-delivery-time {
    color: var(--light-white);
    margin-top: .4vw;
}

.vk-add-to-cart-wrapper {
    position: absolute;
    bottom: 1.2vw;
    right:0;
    display: flex;
}

.vk-add-to-cart-wrapper > button {
    background-color: var(--light-white);
    color: var(--dark-green);
    padding: 5px;
    height: 1.4vw;
    width: auto;
    font-size: 0.7vw;
    line-height: .3;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.2604vw rgba(0, 0, 0, .3);
}

.vk-add-to-cart-wrapper > button:hover {
    background-color: rgb(221, 219, 219);
}
