.App {
    height: 165vh;
}

* {
    font-family: "Montserrat";
}

html {
    --dark-blue: #1c1f4c;
    --light-green: #00848c;
    --dark-green: #037272;
    --light-white: #eeeeee;
    --underline-width: 0%;
}