/* FOOTER */

footer {
    position: relative;
    color: var(--light-white);
    background-color: var(--dark-green);
    height: 15.65vw;
    box-shadow: 0 -0.1042vw 0.3646vw rgba(0, 0, 0, .4);
    font-size: 0.8vw;
    overflow: hidden;
}

#footer {
    margin-top: 1%;
    margin-left: 2%;
}

#maksutavat {
    margin-top: 0.521vw;
    width: auto;
    height: 5.25vw;
}