#parallax1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 1;
    width: 100%;
    background-image: url(/src/imgs/terastassu-banner1.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#title-wrapper {
    font-size: 60px;
    background: rgb(238, 238, 238, .7);
    color: black;
    font-family: "Montserrat";
    backdrop-filter: blur(2px);
    padding: 8px 24px;
    border-radius:16px;
    width: 90%;
}

#title-description {
    font-size: 24px;
}
